<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UGD</title>
        <script src="vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div align="center">
            <h1>{{ judul }}</h1>
                <p> Masukkan Angka 1 - 10 Hint: {{angka.match}}</p>
                <div>
                    <input type="number" v-model="angka.teks" placeholder="1-10":disabled="angka.disable==1">
                </div>
                <div>
                    <button @click="cekAngka()":disabled="angka.disable == 1">Submit Angka</button>
                </div>
                
                <span v-if="angka.success == 1">
                    <p>Angka Benar</p>
                    <button @click="restart()" :disabled="angka.disable == 0">Coba Lagi</button>
                </span>
                <span v-else-if="angka.success == 0">
                    <span v-if="angka.tries > 0">
                        <p>Angka Salah, Kesempatan {{ angka.tries }} kali</p>
                        <button @click="ulang()" :disabled="angka.disable == 0">Coba Lagi</button>
                    </span>
                    <span v-else-if="angka.tries == 0">
                        <p>Angka Salah, Kesempatan Habis</p>
                        <button @click="restart()" :disabled="angka.disable == 0">Coba Lagi</button>
                    </span>
                </span>
            </div>
            <footer align="center">
                <p>{{ angka.Nama }} | {{ angka.NPM }} | {{ angka.Kelas }}</p>
              </footer>
        </div>
    </body>

    <script>
        new Vue({
            el: '#app',
            data:{
                judul: 'Tebak Angka 1-10',
                angka:{
                    match: Math.floor((Math.random() * 10) + 1),
                    tries: 3,
                    status: 'salah',
                    teks:0,
                    Nama: 'Randra',
                    NPM: '180709920',
                    Kelas: 'PAW B',
                    disable: 0,
                    success: undefined,

                },
            },
            methods:{
                cekAngka(){
                    if(this.angka.teks == this.angka.match){
                            this.angka.success =1;                
                        }
                    else{
                            this.angka.success =0;
                        }
                
                    this.angka.disable = 1;
                },
                ulang(){
                    if(this.angka.tries>0){
                        this.angka.disable=0;
                        this.angka.tries--;
                        this.angka.success=undefined;
                        this.angka.teks=0;
                    }
                },
                restart(){
                    this.angka.disable=0;
                    this.angka.tries=3;
                    this.angka.success=undefined;
                    this.angka.match= Math.floor((Math.random() * 10) + 1);
                },
            },
        });
    </script>
</html>